@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: center; 
    height: 100vh;
    overflow: hidden;
  }

  header {
    background-color: rgb(0,0,0);
    height: 11vh;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
  }
  
  header img {
    height: 50px;
  }

  nav a {
    font-size: 1.2em;
    color: rgb(255,255,255);
    text-decoration: none;
    font-weight: 700;
  }

  nav a:hover {
    color: #DF9C19;
  }

  .quiz {
    width: 100%;
    height: 89vh;
    background-color: rgba(255,255,255,0.4);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 4em 2em 4em;
    float: right;
  }
  
  .stem {
    font-size: 1.8em;
    margin: 0 auto 1.2em;
    width: 634px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: 2.5em;
    text-align: center;
    background-color: #DF9C19;
    color: #000000;
  }
  

.choice-flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .options {
    width: 50%;
    font-size: 1em;
    color: white;
    background-color: rgb(0,0,0);
    margin: 0.2em;
    border-radius: 0px;
    padding: 0.5em;
    float: right;
  }
  


  .progress {
    visibility: hidden;
  }
  
  .refresh {
    font-size: 1.5em;
    color: white;
    background-color: lightseagreen;
    margin: 0.2em;
    border-radius: 8px;
    margin-top: 1em;
    padding: 0.5em;
    width: 150px;
    text-align: center;
  }
  
  .refresh:hover {
    transform: scale(1.02);
    cursor: pointer;
  }
  
  .refresh:focus {
    outline: none;
  }
  
  @media only screen and (max-width: 1200px) {
    .quiz {
      width: 100%;
    }
    .progress {
      width: 100%;
      padding-top: 1em;
      margin-top: 1em;
    }
  }
  
  @media only screen and (max-width: 550px) {
    .quiz {
      padding: 0.5em 1em 0.5em;
    }
    .stem {
      font-size: 2em;
    }
    .options {
      font-size: 1.2em;
      width: 80%
    }
    .progress {
      width: 100%;
      padding-top: 0.7em;
      margin-top: 0.7em;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .options:hover {
      transform: scale(1.02);
      cursor: pointer;
    }

    .options:focus {
      outline: none;
    }
  }
  
  
    
 .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100vw; 
    height: 100vh; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 90vw;
    height: 90vh;
  }

  .modal-content h1 {
    font-size: 2em;

  }

  .modal-content p {
    font-size: 16px;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }